.about{
    background-color: rgb(37, 39, 52);
    height: 100vh;
    padding: 75px 10vw 75px 10vw;
    display: flex;
    align-items: center;
}

.about .about-text{
    width: 60%;
    color: #efefef;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about .about-text p{
    color: rgb(183 183 183);
}

.about .about-img img{
    width: 300px;
    height: 550px;
}

@media (max-width: 767px){
    .about{
        justify-content: center;
    }

    .about .about-text{
        width: 100%;
    }

    .about .about-img{
        display: none;
    }
}

@media (max-width: 424px){
    .about{
        min-height: 100vh;
        padding: 20px 5vw 20px 5vw;
    }
}