* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 0.95rem;
    font-family: Poppins;
}
.responsive{
    display: none;
}
@media screen and (max-width: 899px) {
    .pagina{
        display: none;
    }
    .responsive{
        display: flex;
        justify-content: center;
        margin: auto 0;
        background-color: #28262F;
        color: #efefef;
        padding: 50px;
    }
    .responsive h1{
        font-size: 20px;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Calibri;
    color: #28262F;
}

header {
    background-color: #ea8e4c;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 5px 2%;
    z-index: 1;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header .navbar a img {
    width: 30px;
    height: auto;
}

header .navbar a img:hover {
    transform: scale(1.2);
    transition: 1s;
}

header .navbar li {
    display: inline-block;
    padding: 0px 10px;
    font-size: 16px;
    color: #efefef;
}

header .navbar li:hover {
    transform: scale(1.1);
    transition: 1s;
}

header .navbar a {
    text-decoration: none;
    color: #efefef;
    font-size: 15px;
}

.buttons {
    display: flex;
}

.cv {
    background-color: #28262F;
    padding: 8px;
    color: #efefef;
    margin-right: 10px;
    cursor: pointer;
}

.cv:hover,
.cv:hover a {
    background-color: #efefef;
    transition: 0.5s;
    color: #28262F;
}

.navbar div img {
    width: 30px;
    height: auto;
}

main {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    justify-content: center;
}

.titulo {
    min-height: 100vh;
    padding: 25%;
    background-color: rgb(231, 238, 245);
    background: -webkit-linear-gradient(bottom, aliceblue, rgb(217, 237, 255));
}

.titulo h1 {
    font-size: 35px;
}

.titulo h2 {
    font-size: 17px;
}

.sobreMi {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    width: 60%;
    text-align: center;
    margin: 0px auto;

}

.sobreMi h2 {
    font-size: 25px;
    color: #ec751f;
    position: relative;
    top: 75%;
    z-index: -1;
}

.sobreMi p {
    margin: 5px;
}

.trabajos {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.trabajos h2 {
    font-size: 25px;
    color: #ec751f;
    z-index: -1;
    margin-top: 5%;
}

.container1 {
    display: flex;
    justify-content: space-around;
    margin: 2% 0 3% 0;
}

.c-img {
    width: 350px;
    font-family: arial;
    position: relative;
    overflow: hidden;
    height: auto;
    box-shadow: rgb(0, 0, 0) 1px 1px 5px;
    ;
}

.c-img img {
    width: 100%;
    height: 100%;
    transition: all 1s;
}

.c-img:hover img {
    transform: scale(1.09);
}

.c-img .txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(206, 188, 188, 0.5);
    position: absolute;
    bottom: -100%;
    left: 0;
    text-align: justify;
    height: 100%;
    color: #000;
    box-sizing: border-box;
    width: 100%;
    font-weight: 800;
}

.c-img .visitar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.c-img .visitar .card {
    display: flex;
    text-align: center;
}

.c-img .visitar .card a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 600;
}

.c-img .visitar div img {
    width: 15%;
    margin: 0 10px;
}

.c-img h1 {
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid #808080;
    padding: 0 10px 20px 10px;
}

.c-img p {
    padding: 0px 20px 15px 20px;
    border-bottom: 1px solid #808080;
}

.c-img:hover .txt {
    bottom: 0;
    transition: 1s;
}

.mostrar {
    padding: 5px;
}

.mostrar:hover {
    background-color: #28262F;
    color: #efefef;
    transition: 0.5s;
}

.hide {
    display: none;
}

.show {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 35px 15% 35px;
    transition: linear 1s;
}

.habilidades {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    z-index: -1;
}

.habilidades h2 {
    font-size: 25px;
    color: #ec751f;
    margin-bottom: 40px;
    position: relative;
    top: 60%;
}

.image-container {
    overflow-x: hidden;
    max-width: 768px;
}

.image-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
    grid-gap: 1.5rem;
    position: relative;
    left: 0;
    transition: .3s;
}

.image-wrapper>* {
    aspect-ratio: 4 / 3;
}

.image-wrapper img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    display: block;
    border-radius: .5rem;
}

.contacto {
    min-height: 100vh;
    display: grid;
    justify-content: center;
}

form {
    background: #8f8d8d;
    width: 640px;
    margin: 25% auto;
    max-width: 97%;
    border-radius: 4px;
    padding: 55px 30px;
    color: #efefef;
}

form .title h2 {
    letter-spacing: 1px;
    font-size: 18px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
}

form .half {
    display: flex;
    justify-content: space-between;
}

form .half .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
}

form label {
    display: block;
    font-size: 13px;
    letter-spacing: 3.5px;
    margin-bottom: 16px;
}

form .half .item input {
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;
    color: #efefef;
}

form .full {
    margin-bottom: 24px;
}

form .full textarea {
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    height: 200px;
    font-size: 17px;
    color: #efefef;
}

form .action {
    margin-bottom: 32px;
}

form .action input {
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 44px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 20px 0 22px;
    margin-right: 10px;
    color: #efefef;
}

form .action input {
    background: white;
    color: black;
}

form .action input:hover {
    background: #28262F;
    color: #efefef;
    transition: 1s;
}

form .icons {
    display: flex;
    justify-content: center;
}

form .icons div {
    display: flex;
    width: 50px;
    margin: 0px 20px;
}

form .icons a {
    text-align: center;
    font-weight: 600;
    width: 32px;
}

form .icons a img {
    width: 100%;
    height: auto;
    box-shadow: rgb(255, 255, 255) 1px 1px 5px;
}

form .icons a img:hover {
    transform: scale(1.1);
    transition: 1s;
}

form .half .item input:focus,
form .full textarea:focus,
form .icons a:hover {
    background: rgba(255, 255, 255, 0.075);
}

footer {
    background-color: #28262F;
    color: #efefef;
}

footer div {
    display: flex;
    justify-content: center;
}

/* INICIO RESPONSIVE */

/* .checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 600px){
    header{
        display: flex;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(40, 38, 47,0.8);
        top: 50px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover{
        background: none;
        color: #ea8e4c;
    }
    #check:checked ~ ul{
        right:0;
    }
} */