.present{
    background-color: rgb(17, 17, 17);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 1;
}
.present .presentTitle{
    color: #efefef;
    font-size: 50px;
}
.ease{
    background-color: transparent;
    transition: 1s;
}
.easeTitle{
    display: none;
}
.none{
    display: none;
}