*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: rgb(40, 40, 50);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 194, 92, 0.8);
  }